/* Colors to use throughout the project 

rgba(22,64,125,1) Blue
rgba(255,126,38,1) Orange

/* Global styles */

body {
    padding-top: 67px
}

/* Navbar style */

.navbar {
    background-color: rgba(22,64,125, 1);
}

.nav-item a {
    color: rgba(255, 126, 38, 1);
    font-size: large;
}

.navbar .logo {
    width: 100px;
}

/* Header */

header {
    background-image: url(../images/truck-riding-along-road.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgba(22,64,125, 0.7);
    min-width: 300px;
    width: 25%;
    height: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1, .header p {
    color: rgb(255, 126, 38);
    font-weight: bold;
}


/* About section */

.about-section {
    background-color: rgba(22,64,125, 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-section h2 {
    color: rgb(255, 126, 38);
    font-weight: bold;
    flex: top;
    text-align: center;
    width: 100%;
    padding-top: 67px;
}

.about-section p, .about-section li, .about-section h3 {
    color: rgb(255, 255, 255);
}   
 
.about-text-box {
    line-height: 1.6;
    padding: 20px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.competencies-text-box {
    line-height: 1.6;
    padding: 20px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

/* Contact Cards */

.contact-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 67px;
    padding-bottom: 1rem;
}

.contact-cards h2 {
    color: rgb(22,64,125);
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

.card {
    margin: 20px;
}

/* Form styles */

.contact-form {
    max-width: 500px;
    padding-bottom: 1rem;
}

.contact-form h2 {
    color: rgb(22,64,125);
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: transparent;
    border-color: rgba(22,64,125,255);
    color: rgba(22,64,125,255);
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(22,64,125);
    color: rgb(255,126,38);
}
/* Footer styles */

/* Media queries */

@media screen and (max-width: 768px) {
    .header {
        width: 50%;
    }

    .about-text-box, .competencies-text-box {
        width: 100%;
    }
}