/* Colors to use throughout the project 

rgba(22,64,125,255) Blue
rgba(255,126,38,255) Orange

/* Global styles */

header {
    margin-top: 118px;
}

/* Navbar style */

/* Form styles */

.contact-form {
    max-width: 500px;
    padding-bottom: 1rem;
}

.btn {
    background-color: transparent;
    border-color: rgba(22,64,125,255);
    color: rgba(22,64,125,255);
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(22,64,125);
    color: rgb(255,126,38);
}
/* Footer styles */