/* Colors to use throughout the project 

rgba(22,64,125,1) Blue
rgba(255,126,38,1) Orange

/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Lexend:wght@100..900&display=swap');

h1 {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

h2 {
    font-family: "Angkor", serif;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
}

h3 {
    font-family: "Angkor", serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
}

p, li, .card {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    line-height: 1.6;
}
  

body {
    padding-top: 67px
}

/* Navbar style */

.navbar {
    background-color: rgba(22,64,125, 1);
}

.nav-item a {
    color: rgba(255, 126, 38, 1);
    font-size: large;
}

.navbar .logo {
    width: 100px;
}

/* Header */

header {
    background-image: url(../images/truck-riding-along-road.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgba(22,64,125, 0.7);
    min-width: 300px;
    width: 25%;
    height: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1, .header p {
    color: rgb(255, 126, 38);
}

.header p {
    font-weight: bold;
}


/* About section */

.about-section {
    background-color: rgba(22,64,125, 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-section h2 {
    color: rgb(255, 126, 38);
    text-align: center;
    width: 100%;
    padding-top: 67px;
}

.about-section p, .about-section li, .about-section h3 {
    color: rgb(255, 255, 255);
}

.about-section h3 {
    font-size: large;
    padding-top: 1rem;
}
 
.about-text-box {
    padding: 20px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.competencies-text-box {
    padding: 20px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

/* Team Section */

.team-section {
    background-color: rgb(255,126,38);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding-top: 67px;
}

.team-text {
    padding: 20px;
    max-width: 1200px;
    background-color: rgba(21,56,112,1);
    color: rgb(255, 255, 255);
    margin: 0 25px 0 25px;
}

.team-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 68px;
    padding-bottom: 1rem;
}

.team-section h2 {
    color: rgb(22,64,125);
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

.card {
    margin: 20px;
}

/* Contact styles */

.contact-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 67px;
}

.contact-text-box h2 {
    color: rgb(22,64,125);
    text-align: center;
}

.contact-text-box {
    padding: 20px;  
    max-width: 800px;
}

.contact-form {
    max-width: 500px;
    padding-bottom: 1rem;
}

.btn {
    background-color: transparent;
    border-color: rgba(22,64,125,1);
    color: rgba(22,64,125,1);
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(22,64,125);
    color: rgb(255,126,38);
}
/* Footer styles */

.footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.footer-info, .footer-hours, .footer-social {
    margin: 20px ;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .header {
        width: 50%;
    }

    .about-text-box, .competencies-text-box {
        width: 100%;
    }
}